# Base de datos Supabase
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.idttntgqifwwngrzuaka.supabase.co:5432/postgres"

# NextAuth.js
NEXTAUTH_SECRET="tu-secreto-super-seguro-aqui"
NEXTAUTH_URL="https://calendario-mf.vercel.app"

# Para desarrollo local, cambia NEXTAUTH_URL a:
# NEXTAUTH_URL="http://localhost:3000" 